/* PHASE 4: Footer */
footer {
    position: relative;
    min-height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 900px;
    color: gray;
    margin: 0 auto;
    border: 1px solid #ccc;
}

/* .content-footer {
     
} */

.left-footer {
    
}

.right-footer {
    display:flex;
    justify-content: right;
}

.right-footer li {
    list-style-type: none;
    margin: 0 20px;
}